.header {
  background: #b4c7d3;
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  padding: 30px;
  position: relative;
  z-index: 10;
  &__container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr minmax(auto, 425px) 1fr;
    gap: 10px;
    align-items: center;
  }
  &__burger {
    display: none;
  }
  &__nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &__logo {
    width: 100%;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 314px;
      height: 28px;
      object-fit: contain;
      object-position: center;
      &.desktop {
        display: block;
      }
      &.mobile {
        display: none;
      }
    }
  }
  &__right-bar {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 34px) 44px;
    gap: 28px;
    justify-content: end;
  }
  &__icon {
    width: 34px;
    height: 34px;
    padding: 8px;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      opacity: 0.8;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
  &__lang-btn {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    span {
      font-family: "Mabry Pro";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 18px;
      color: #f5f5f7;
    }
    img {
      margin-left: 5px;
      transition: 0.3s;
    }
    &:hover {
      .header__lang-dropdown {
        opacity: 1;
        visibility: visible;
      }
      img {
        transform: rotate(180deg);
      }
    }
  }
  &__lang-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    visibility: hidden;
    opacity: 0;
    padding: 10px;
    background: #b4c7d3;
    border-radius: 5px;
    transition: 0.3s;
    li {
      font-family: "Mabry Pro";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 18px;
      color: #f5f5f7;
      transition: 0.3s;
      & + li {
        margin-top: 5px;
        padding-top: 5px;
        border-top: 1px solid #f5f5f7;
      }
      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.nav-menu {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  gap: 50px;
  &__item {
    width: 100%;
    & > a {
      font-family: "Mabry Pro";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 20px;
      display: flex;
      align-items: flex-end;
      text-transform: capitalize;
      color: #f5f5f7;
      transition: 0.3s;
      &:hover {
        opacity: 0.8;
      }
    }
    &:hover {
      .sub-menu {
        visibility: visible;
        opacity: 1;
      }
    }
  }
  .sub-menu {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    &__container {
      width: 100%;
      padding: 30px 75px;
      background: linear-gradient(0deg, #f2f8ff, #f2f8ff),
        linear-gradient(71.12deg, #c7d5de -46.79%, #e3eaef 11.9%, #ecf1f4 100%);
      border-bottom: 0.5px solid #b4c7d3;
      border-radius: 0px 0px 10px 10px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 30px;
    }
    &__col {
    }
    &__title {
      font-family: "Mabry Pro";
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 32px;
      /* identical to box height */

      display: flex;
      align-items: center;

      color: #364e5c;
      position: relative;
      padding-bottom: 25px;
      &::after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: 10px;
        width: 100%;
        height: 80px;
        background-image: url(assets/images/icons/divider-horizontal.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
    &__item {
      & + li {
        margin-top: 20px;
      }
      a {
        font-family: "Mabry Pro";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        /* identical to box height, or 117% */

        display: flex;
        align-items: center;
        text-align: center;

        color: #364e5c;
      }
    }
  }
}
