.top-slider {
  width: 100%;
  height: 600px;
  .top-slider__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      background: #f6f8fa;
      opacity: 0.5;
      transition: 0.3s;
      &.swiper-pagination-bullet-active {
        background: #f6f8fa;
        opacity: 1;
        width: 16px;
        height: 16px;
      }
    }
  }
  &__item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px;
    position: relative;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
  }
  &__title {
    font-family: "Mabry Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: 1.1px;

    color: #364e5c;
  }
  &__description {
    font-family: "Mabry Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 1.5px;

    color: #364e5c;
    margin-top: 30px;
    max-width: 425px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    z-index: 1;
  }
  &__link {
    font-family: "Mabry Pro";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    /* identical to box height, or 144% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #7699af;
    padding: 19px 54px;
    border: 2px solid #7699af;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    position: relative;
    z-index: 1;
    transition: 0.3s;
    &:hover {
      background: #7699af;
      color: #f5f5f7;
    }
  }
  &__thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      display: block;
    }
  }
}
.swiper-button-prev {
  background-image: url(assets/images/icons/shop-slider-arrow.svg);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  &::after {
    content: none;
  }
}
.swiper-button-next {
  background-image: url(assets/images/icons/shop-slider-arrow.svg);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  transform: rotate(180deg);
  &::after {
    content: none;
  }
}
.shop-slider {
  margin-top: 30px;
  height: fit-content;
  max-height: 500px;
  .swiper-wrapper {
  }
}
.shop-item {
  position: relative;
  background: linear-gradient(
    74.66deg,
    #d7e6ef -5.56%,
    #ecf0f3 36.64%,
    #f0f0f0 100%
  );
  border-radius: 10px;
  height: 500px;
  &__status {
    position: absolute;
    top: 40px;
    left: 0px;
    padding: 10px 50px;
    border-radius: 0px 80px 80px 0px;
    font-family: "Mabry Pro";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;

    color: #f7f3ea;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.3s;
    &.sale {
      background: linear-gradient(
        90deg,
        rgba(227, 13, 51, 0.8) 0%,
        rgba(227, 13, 51, 0.696) 100%
      );
    }
  }
  &__thumbnail {
    width: 100%;
    height: 350px;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
      transition: 0.3s;
      &:nth-child(2) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        visibility: hidden;
        opacity: 0;
      }
    }
  }
  &__container {
    position: relative;
    width: 100%;
    height: fit-content;
  }
  &__content {
    padding: 15px 25px 25px 25px;
    transition: 0.3s;
    &.main {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-areas:
        "title ."
        "tags  price";
      gap: 15px;
    }
    &.hover {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      z-index: 1;
      bottom: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 15px;
      width: 100%;
    }
  }
  &__add-to-favorites {
    position: absolute;
    right: 25px;
    top: 25px;
    z-index: 2;
    cursor: pointer;
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
  }
  &__variations {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    li {
      display: block;
      padding: 15px;

      border-radius: 40px;
      font-family: "Mabry Pro";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 18px;
      text-transform: capitalize;

      /* White */

      color: #364e5c;
      &.active {
        background: #7699af;
        color: #f5f5f7;
      }
    }
  }
  &__add-to-cart {
    width: 100%;
    padding: 15px;
    font-family: "Mabry Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    /* identical to box height */

    display: flex;
    align-items: flex-end;
    letter-spacing: -0.02em;

    /* White */

    color: #f5f5f7;
    background: #7699af;
    border-top: 0.5px solid #7699af;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    span {
      margin-left: 5px;
    }
  }
  &__title {
    grid-area: title;
    font-family: "William Subhead Pro";
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */

    color: #7699af;
  }
  &__tags {
    grid-area: tags;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    li {
      font-family: "Mabry Pro";
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 14px;

      color: #7699af;
      & + li {
        padding-left: 5px;
        margin-left: 5px;
        border-left: 1px solid #7699af;
      }
    }
  }
  &__price {
    grid-area: price;
    display: flex;
    align-items: flex-start;
    .regular {
      font-family: "Mabry Pro";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 14px;
      /* identical to box height */

      letter-spacing: -0.02em;
      text-decoration-line: line-through;
      text-transform: capitalize;

      color: #7699af;
    }
    .sale {
      font-family: "Mabry Pro";
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 24px;
      /* identical to box height */

      letter-spacing: -0.02em;
      text-transform: capitalize;

      color: #7699af;
      margin-left: 8px;
    }
  }
  &:hover {
    .shop-item__content {
      &.hover {
        opacity: 1;
        visibility: visible;
      }
      &.main {
        opacity: 0;
        visibility: hidden;
      }
    }
    .shop-item__thumbnail {
      img {
        &:nth-child(1) {
          opacity: 0;
          visibility: hidden;
        }
        &:nth-child(2) {
          opacity: 1;
          visibility: visible;
        }
      }
    }
    .shop-item__status {
      opacity: 0;
      visibility: hidden;
    }
    .shop-item__add-to-favorites {
      opacity: 1;
      visibility: visible;
    }
  }
}

.test {
  height: 600px;
  background: linear-gradient(
    74.66deg,
    #d7e6ef -5.56%,
    #ecf0f3 36.64%,
    #f0f0f0 100%
  );
  border-radius: 10px;
  margin-top: 30px;
  .top-slider__thumbnail {
    img {
      object-fit: contain;
      object-position: right;
      border-radius: 0 10px 10px 0;
    }
  }
  .top-slider__description {
    max-width: 600px;
  }
}

.our-philosophy {
  height: 560px;
  border-radius: 10px;
  margin-top: 30px;
  overflow: hidden;
  .top-slider__thumbnail {
    img {
      object-fit: cover;
      object-position: top right;
    }
  }
  .top-slider__description {
    max-width: 600px;
  }
  .top-slider__content {
    justify-content: space-between;
    height: 100%;
  }
}

.reviews-slider {
  width: 100%;
  height: 600px;
  margin-top: 30px;
  border-radius: 10px;
  background: linear-gradient(
    74.66deg,
    #d7e6ef -5.56%,
    #ecf0f3 36.64%,
    #f0f0f0 100%
  );
  &__item {
    border-radius: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  &__col {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 100%;
  }
  &__title {
    font-family: "William Subhead Pro";
    font-style: italic;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #7699af;
  }
  &__description {
    margin-top: 30px;
    p {
      font-family: "Mabry Pro";
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 18px;
      display: flex;
      align-items: center;
      letter-spacing: 1.5px;

      color: #7699af;
      & + p {
        margin-top: 30px;
      }
    }
  }
  &__link {
    font-family: "Mabry Pro";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    /* identical to box height, or 144% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #7699af;
    padding: 19px 54px;
    border: 2px solid #7699af;
    border-radius: 30px;
    transition: 0.3s;
    &:hover {
      color: #f5f5f7;
      background: #7699af;
    }
  }
}
