@media (max-width: 1439px) {
  .test {
    .top-slider__description {
      max-width: 425px;
    }
  }
}
@media (max-width: 1200px) {
  .header {
    padding: 20px;
    &__container {
      grid-template-columns: 1fr 320px 1fr;
    }
    &__right-bar {
      gap: 15px;
    }
  }
  .main-container {
    margin-top: 74px;
  }
  .nav-menu {
    gap: 15px;
  }
  .test {
    .top-slider__title {
      font-size: 40px;
    }
    height: 450px;
  }
}
@media (max-width: 1024px) {
  .wrapper {
    padding: 16px;
  }
  .header {
    top: 16px;
    left: 16px;
    width: calc(100% - 32px);
    &__container {
    }
    &__nav {
      display: none;
    }

    &__burger {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: contain;
        object-position: center;
      }
    }
  }
  .shop-slider {
    max-height: 600px;
  }
  .shop-item {
    height: 600px;
    &__content {
      &.hover {
        opacity: 1;
        visibility: visible;
        position: static;
      }
      &.main {
        opacity: 1;
        visibility: visible;
      }
    }
    &__thumbnail {
      img {
        &:nth-child(1) {
          opacity: 0;
          visibility: hidden;
        }
        &:nth-child(2) {
          opacity: 1;
          visibility: visible;
        }
      }
    }
    &__status {
      opacity: 1;
      visibility: visible;
    }
    &__add-to-favorites {
      opacity: 1;
      visibility: visible;
    }
  }
}
@media (max-width: 900px) {
  .header {
    &__icon {
      width: 24px;
      height: 24px;
      padding: 3px;
    }
    &__search-btn {
      display: none;
    }
    &__profile-btn {
      display: none;
    }
    &__lang-btn {
      display: none;
    }
    &__right-bar {
      grid-template-columns: repeat(2, 24px);
      gap: 10px;
    }
  }
  .main-container {
    margin-top: 72px;
  }
}
@media (max-width: 768px) {
  .header {
    padding: 10px;
    &__container {
      grid-template-columns: repeat(3, 1fr);
    }
    &__logo {
      img {
        width: 100%;
        &.desktop {
          display: none;
        }
        &.mobile {
          display: block;
        }
      }
    }
  }
  .main-container {
    margin-top: 52px;
  }
  .top-slider {
    height: 440px;
    &__item {
      padding-bottom: 55px;
    }
    &__title {
      font-size: 30px;
      line-height: 28px;
    }
    &__description {
      font-size: 16px;
      line-height: 140.62%;
      font-weight: 300;
      margin-top: 16px;
    }
    &__link {
      font-family: "Mabry Pro";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 23px;
      /* identical to box height, or 144% */

      display: flex;
      align-items: center;
      text-align: center;

      color: #f5f5f7;
      padding: 8px 54px;
      border: 2px solid #ffffff;
      border-radius: 30px;
      align-self: center;
    }
  }
  .shop-slider {
    height: auto;
    max-height: none;
    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }
    .swiper-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
    }
  }
  .shop-item {
    height: 545px;
    &__title {
      font-size: 20px;
      line-height: 20px;
      /* identical to box height */

      color: #364e5c;
    }
    &__price {
      .sale {
        font-size: 18px;
        line-height: 18px;
        /* identical to box height */

        letter-spacing: -0.02em;
        text-transform: capitalize;

        color: #364e5c;
      }
      .regular {
        font-size: 14px;
        line-height: 14px;
        /* identical to box height */

        letter-spacing: -0.02em;
        text-decoration-line: line-through;
        text-transform: capitalize;

        color: #364e5c;
      }
    }
    &__tags {
      li {
        font-weight: 500;
        font-size: 12px;
        line-height: 12px;
        /* identical to box height */

        text-transform: capitalize;

        color: #364e5c;
      }
    }
    &__variations {
      li {
        padding: 8px;
      }
    }
    &__add-to-cart {
      padding: 10px;
      font-family: "Mabry Pro";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 14px;
      /* identical to box height */

      display: flex;
      align-items: flex-end;
      letter-spacing: -0.02em;

      /* White */

      color: #f5f5f7;
    }
    &__content {
      padding: 15px;
      &.main {
        grid-template-columns: 3fr 1fr;
        grid-template-areas:
          "title price"
          "tags .";
      }
    }
  }
  .test,
  .our-philosophy {
    height: 440px;
    .top-slider__title {
      font-family: "Mabry Pro";
      font-style: normal;
      font-weight: 400;
      font-size: 30px;
      line-height: 28px;
      /* identical to box height, or 93% */

      display: flex;
      align-items: center;

      /* White */

      color: #f5f5f7;
    }
    .top-slider__description {
      font-family: "Mabry Pro";
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 140.62%;
      /* or 22px */

      /* White */

      color: #f5f5f7;
    }
    .top-slider__thumbnail {
      border-radius: 10px;
      overflow: hidden;
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          0deg,
          rgba(118, 153, 175, 0.5),
          rgba(118, 153, 175, 0.5)
        );
        z-index: 1;
      }
      img {
        object-fit: cover;
      }
    }
  }
  .our-philosophy {
    .top-slider__thumbnail {
      img {
        object-position: 83%;
      }
    }
  }
  .reviews-slider {
    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }
    .swiper-pagination {
      bottom: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      &-bullet {
        background: #7699af;
        opacity: 0.5;
        width: 10px;
        height: 10px;
        transition: 0.3s;
        &-active {
          width: 16px;
          height: 16px;

          background: #7699af;
        }
      }
    }
    &__item {
      display: flex;
      flex-direction: column;
      height: 440px;
    }
    &__col {
      padding: 16px;
    }
    &__thumbnail {
      height: 160px;
    }
    &__title {
      font-family: "Mabry Pro";
      font-style: normal;
      font-weight: 400;
      font-size: 30px;
      line-height: 30px;
      /* identical to box height */

      display: flex;
      align-items: center;

      color: #364e5c;
    }
    &__description {
      p {
        font-family: "Mabry Pro";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        display: flex;
        align-items: center;
        letter-spacing: 1.5px;

        color: #364e5c;
      }
    }
    &__link {
      font-family: "Mabry Pro";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 23px;
      /* identical to box height, or 144% */

      display: flex;
      align-items: center;
      text-align: center;

      color: #364e5c;
      padding: 8px 54px;
      align-self: center;
    }
  }
  .footer {
    &__payment-methods {
      &.desktop {
        display: none;
      }
      &.mobile {
        display: flex;
        position: relative;
        flex-direction: row;
        margin-bottom: 16px;
      }
      li {
        img {
          width: 36px;
          height: 23px;
        }
      }
    }
    &__row {
      padding: 0;
    }
    &__menus {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding: 0;
    }
    &__primary-menu {
      flex-direction: column;
      justify-content: flex-start;
      gap: 16px;
      li {
        & + li {
          &::before {
            content: none;
          }
        }
        a {
          font-family: "Mabry Pro";
          font-style: normal;
          font-weight: 300;
          font-size: 14px;
          line-height: 14px;
          /* identical to box height */

          text-transform: capitalize;

          color: #364e5c;
        }
      }
    }
    &__secondary-menu {
      flex-direction: column;
      gap: 16px;
      margin-top: 0;
      li {
        & + li {
          &::before {
            content: none;
          }
        }
        a {
          font-family: "Mabry Pro";
          font-style: normal;
          font-weight: 300;
          font-size: 14px;
          line-height: 14px;
          /* identical to box height */

          text-transform: capitalize;

          color: #364e5c;
        }
      }
    }
  }
  .socials {
    &.desktop {
      display: none;
    }
    &.mobile {
      display: flex;
      flex-direction: column;
      gap: 16px;
      align-items: flex-start;
    }
    &__item {
      flex-direction: row-reverse;
      span {
        font-family: "Mabry Pro";
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 14px;
        /* identical to box height */

        color: #364e5c;
      }
      img {
        width: 16px;
        height: 16px;
        margin-left: 0;
        margin-right: 8px;
      }
    }
  }
  .subscribe-form {
    &__title {
      font-family: "Mabry Pro";
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;
      /* or 117% */

      display: flex;
      align-items: center;

      color: #364e5c;
    }
    &__field {
      input {
        padding: 15px;
        font-size: 14px;
        line-height: 14px;
        width: 100%;
        max-width: 300px;
      }
      button {
        padding: 15px 20px;
        font-size: 14px;
        line-height: 14px;
      }
    }
  }
}
